/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2020, 11:46:18 AM
    Author     : 19034275
*/
body{
    background-color: cyan;
}
p{
    font-size: 14px;
    margin-left: 20px;
    border: 1px blue solid;
}
